<!DOCTYPE html>
<html>
    <head>
        <title>Varyex</title>
        <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
        <link rel="stylesheet" href="assets/css/style.min.css">
    </head>
    <body>
        <a href="{{invite}}" id="atag">
            <img src="assets/img/blank.png" id="blank">
            <img src="assets/img/logo.svg" id="plusslash">
            <img src="assets/img/justslash.svg" id="justslash">
            <span id="invitetext">invite</span>
        </a>
        <a href="https://discord.gg/vhmktNV4xk">
            <span id="server">
                Support server
            </span>
        </a>
        <a href="privacy-policy">
            <span id="privacy">
                Privacy policy
            </span>
        </a>
    </body>
</html>