<!DOCTYPE html>
<html>
    <head>
        <title>Privacy Policy - Varyex</title>
        <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
        <link rel="stylesheet" href="assets/css/pp.min.css">
    </head>
    <body>
        <img src="assets/img/logotext.svg" id="logo">
        <span id="ptxt">Privacy Policy</span>
        <span id="updated">Last updated June 4th, 2021</span>
        <div id="content">
            <h1>What data do you collect?</h1>
            <p>
                We collect:
                <ul>
                    <li>profile data inputted by you via the <code>profile</code> command,</li>
                    <li>warning data when you warn a user and configure warns via the <code>warn</code> command,</li>
                    <li>the message ID, author ID, channel ID, and reaction count for a starboard message,</li>
                    <li>and the channel IDs for daily Garfield and SROMG strips.</li>
                </ul>
            </p>
            <h2>Why do you need this data, and how do you use it?</h1>
            <p>Profile and warning data are stored for your convenience so you can actually see it. Starboard message data is to keep it as accurate as possible and gives Varyex the ability to easily fetch for the message if needed. The channel IDs for Garfield and SROMG are stored to ensure it goes into the right channel.</p>
            <h1>Who can see this data?</h1>
            <p>Only the developer (myself, Lulu) can directly fetch for the data.</p>
            <h1>How can we, as users, remove our data?</h1>
            <p>Profiles/parts of profiles and warns can both be deleted using commands, and you can unregister a channel from daily Garfield and SROMG strips. Starboard data gets removed on message deletion.</p>
            <h1>How do we reach to you if we have any concerns?</h1>
            <p>You can always join the <a href="https://discord.gg/vhmktNV4xk">support server</a> if you have any questions or concerns and ask me about them directly.</p>
        </div>
    </body>
</html>