@import url(https://fonts.googleapis.com/css?family=Space+Mono);
@import url(https://fonts.googleapis.com/css?family=Poppins);

span, p, h1, h2, li, a {
    font-family: 'Poppins';
    color: #e2e9e9;
}
h1, h2 {
    font-family: 'Space Mono' !important;
}
code {
    font-family: 'Space Mono';
}


html {
    &,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        background-color: #18141e;

    }
}

#logo {
        width: 40%;
        position: absolute;
        top: 5%;
        left: 48%;
        transform: translateX(-50%);
}

#ptxt {
    font-family: 'Space Mono';
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    top: 17.5vw
}

#updated {
    font-family: 'Poppins';
    font-size: 2vw;
    font-style: italic;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25vw
}

#content {
    max-width: 800px;
    margin:auto;
    top: 28vw;
    position: relative;
    padding-bottom: 20px;
}